.nav {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.nav a {
    position: relative;
    text-decoration: none;
    color: black;
}

.nav a:hover::after {
    width: 100%;
    right: 0;
}

.nav a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    right: 0;
    position: absolute;
    background: linear-gradient(to left, #af8bff, #f69ec4 100%);
    transition: width .3s ease 0s, right .3s ease 0s;
    width: 0;
}